#user_nav
  %h1 Facebook
  - if current_user && current_user.has_network?(:facebook)
    Signed in as
    = succeed '!' do
      %strong= current_user.facebook.name
    = link_to 'Sign out', signout_path, id: 'facebook_sign_out'
    %div
      %div
        %p
          %h3 Showing 10 friends
      %ul
        - current_user.facebook_api.get_connections('me', 'friends', limit: 12).each do |friend|
          %li
            = link_to friend['name'], "https://www.facebook.com/#{friend['id']}", id: "fb_user_#{friend['id']}",
            target: '_blank'
      %div{ class: 'change_ranks' }
        %p
          %h3 Change ranks
          = form_for 'user_ranks', url: user_ranks_path, method: :get, html: { id: 'user_ranks_form' }, data: { remote: true } do |f|
            - UserFriendsRank::SCORE_WEIGHTS.each do |key, score|
              %div
                = f.label key, key.to_s.humanize, class: 'form_label'
                = f.text_field key, id: "user_ranks_#{key}", value: score
            %div= f.submit "I'm lonley, get friends", id: 'user_ranks_submit'
      %div
        %p
          %h3 Top friends
          .loading
            = image_tag('http://www.ajaxload.info/cache/FF/FF/FF/00/00/00/6-0.gif')
          %div{ id: 'ranked_friends', class: 'ajax' }
            %p Change values to the right

  - else
    = link_to 'Sign in with Facebook', '/auth/facebook', id: 'facebook_sign_in'
  %h1 Instagram
  - if current_user && current_user.has_network?(:instagram)
    Signed in as
    = succeed '!' do
      %strong= current_user.instagram.name
    = link_to 'Sign out', signout_path, id: 'instagram_sign_out'
    %div
      %div
        %p
          %h3 Recent media
      - current_user.instagram_api.user_recent_media.each do |media_item|
        = image_tag(media_item.images.thumbnail.url)
  - else
    = link_to 'Sign in with Instagram', callback_url(:instagram), id: 'instagram_sign_in'
  %h1 foursquare
  - if current_user && current_user.has_network?(:foursquare)
    Signed in as
    = succeed '!' do
      %strong= current_user.foursquare.name
    = link_to 'Sign out', signout_path, id: 'foursquare_sign_out'
    %div
      %div
        %p
          %h3 Recent 10 check-ins
      - current_user.foursquare_api.recent_checkins(limit: 10).each do |checkin|
        %p= "#{checkin.user.firstName} #{checkin.user.lastName} @ #{checkin.venue.name} (#{Time.at(checkin.createdAt)})"
  - else
    = link_to 'Sign in with foursquare', callback_url(:foursquare), id: 'foursquare_sign_in'
